// @import "@styles/index.scss";

.Dashboard {
    display: flex;
    flex-direction: column;

    &.loading {
        height: 100vh;
        padding: 50px;
    }

    .dashboard-container {
        padding: 20px;
        flex: 3;

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .dash-title {
                display: flex;
                flex-direction: column;
            }

            button {
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 44px;
                margin-top: 4px;

                // @media (prefers-color-scheme: light) {
                //     background-color: #ccc;
                // }
                @media (max-width: 1200px) {
                    margin-right: 20px;
                }
                @media (max-width: 580px) {
                    margin-right: 5px;
                    padding: 15px;
                    font-size: 15px;
                }
            }
        }

        .dash-content {
            padding: 50px 0;

            .post-container {
                display: flex;
                flex-direction: column;
                gap: 50px;
            }

            .no-posts {
                // height: 100vh;

                h2 {
                    padding-top: 50px;
                    font-family: Arial, Helvetica, sans-serif;
                    text-align: center;
                    color: rgb(209, 209, 209);
                }
            }
        }

        hr {
            margin-top: 10px;
        }
    }


    .pagination-wrapper {

        // Typography
        .MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
            display: flex;
            justify-content: center;
            align-items: center;

        }

        // pages wit
        .MuiStack-root.css-1sazv7p-MuiStack-root {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 50px;
            * {
                box-shadow: none;
            }
    
            li {
                
                button[aria-current="true"] {
                    border: 2px solid white;
                }
        
                button {
                    color: white;
                    width: 40px;
                    border: 2px solid grey;
                    box-shadow: none;
                }
        
                &[aria-current="true"] {
                    border: 2px solid red;
                    background-color: red;
                }
        
                div {
                    color: white;
                }
            }
        }
    }

}