@import "@styles/index.scss";

nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    .title {
        flex: 2.2;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;

        h2 {
            font-size: 30px;
            // font-family: "Major Mono Display";
            font-family: $major;
            letter-spacing: 5px;
        }
        img {
            width: 40px;
        }
    }

    .links {
        flex: 1;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-right: 1.5em;

        &.auth {
            justify-content: space-around;
        }
    }

    @media (max-width: 500px) {
        .title {
            flex: 1;
            margin-right: 50px;
        }
        .links {
            padding-right: 10px;
            gap: 20px;
            font-size: 14px;
        }
    }

    @media (max-width: 757px) {
        .links {
            flex: 2;
        }
    }

    @media (max-width: 420px) {
        .title {
            gap: 5px;
            h2 {
                font-size: 22px;
            }
            img {
                width: 30px;
            }
        }
    }
}